################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/MvcDemo/obj
/MvcDemo.Common/obj
/MvcDemo.DataAccess/obj
/MvcDemo.Service/obj
/MvcDemo.Tests/obj
/packages
/TestConsoleApp/obj
